#main{
    position: absotule;
    margin-top:10px;
    margin-left:150px;
    width: 80%;

}
#texto{
    margin-top: 100px;
    margin-left: 10%;
    padding: 10px;
    background-color: rgb(109, 128, 128);
    width:50%;

}
.ibtn{
    padding: 10px;
    background: black;
    color: white;
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
    text-align: center;
    width: 150px;

}
.tempo{  
    margin-left:30%;
    display: inline;

}
#segundos, #frase{
    display: inline;
    
}

table{
    margin-top: 10px;
    border-top:1px solid gray;
    width: 70%;
    text-align: center;

}
tr{
    border-top:1px solid gray;
    margin-left: 250px;
}


#detalhes{
    margin-left:30%;
    margin-top: 10px;

}

span.nome{
    margin-left:10%;
    font-weight: bold;
}
span.palavras{
    margin-left: 7%;
    font-weight: bold;
}
